<section class="container my-5">
  
  <header class="mb-5">
    <h1 class="display-4">Pawlour</h1>
    <h2 class="subtitle">The parlour where all the Paw-Pets gather</h2>
  </header>

  <main class="row row-cols-1 row-cols-md-4">
    <%= render "shared/card_pet", pets: @pets %>
  </main>

</section>
<!-- If current user a pet owner, enable add New Pet -->
<% if user_signed_in? && (current_user&.admin? || current_user.owner?) %>
  <section>
    <%= render 'shared/new_pet' %>
  </section>
<% end %>

