<section class="container my-5">
  <header class="mb-5">
    <h1 class="display-4">Add a new pet</h1>
    <h2 class="subtitle">Show your pet to the world!</h2>
  </header>

  <main class="row align-items-center">
    <%= render 'form', pet: @pet %>
  </main>

  <footer class="row my-3">
    <%= link_to "Back", pets_path, class: "btn btn-outline-primary my-3 mb-3" %>
  </footer>
</section>