<% pets.each do |pet| %>
  <%= link_to pet_path(pet), class:"text-decoration-none" do %>
    <article class="col mb-4 text-decoration-none">
      <div class="card border-primary h-100">
        <div class="card-image">
          <%= image_tag profile_photo_select(pet), class:"card-img-top border-bottom border-primary", alt:"#{pet.img_alt_text}" %>
          <div class="image-overlay"></div>
        </div>
        <div class="card-body bg-light">
          <h5 class="card-title mb-1"><%= pet.name.titlecase %></h5>
          <p class="card-text"><i class="fas fa-home mr-2 text-info"></i><%= pet.display_age %></p>
        </div>
      </div> 
    </article>
  <% end %>
<% end %>    