<section class="col-11 col-md-8 card bg-light border-primary p-3 p-md-5">
  <div class="form-inputs">
    <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/meqvqylo" method="post">
      <fieldset id="fs-frm-inputs">
        <div class="form-group mb-3">
          <label for="full-name">Full Name</label>
          <input type="text" name="name" id="full-name" placeholder="First and Last" required="" class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="email-address">Email Address</label>
          <input type="email" name="_replyto" id="email-address" placeholder="email@emailaddress.com" required="" class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="message">Message</label>
          <textarea rows="5" name="message" id="message" placeholder="Hello!" required="" class="form-control"></textarea>
        </div>
        <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
      </fieldset>
      <input type="submit" value="Chat Soon!" class="btn btn-primary mt-4">
    </form>
  </div>    
</section> 