<section class="container my-5">
  <header class="row mb-5">
    <h2 class="col">Featured Pets</h2>
  </header>
  
  <main class="row row-cols-2 row-cols-md-4">
    <%= render "shared/card_pet", pets: @featured_pets %>
  </main>
  
</section>