<footer class="bg-info py-3">
  <div class="container py-3">
    <div class="justify-content-center align-items-center">
      <p class="text-center text-uppercase text-primary txt-footer m-0">
        &copy; <%= current_year %><i class="fas fa-cloud mx-1"></i>
        Crafted with love by <%= image_tag "ash_logo_dark", class:"a-logo mx-1" %>
        <a href="https://github.com/a-sh-dev" target="_blank">
        <i class="fab fa-github"></i></a>
      </p>
    </div>
  </div>
</footer>