<section class="bg-secondary text-center py-5 mt-5">
  <div class="container">
    <%= link_to "Edit Pet", edit_pet_path(@pet), class: "btn btn-primary btn-lg" %>
    <%= link_to "Remove Pet", pet_path, method: :delete, class: "btn btn-outline-primary btn-lg ml-1" %>
  </div>
</section>