<section class="bg-secondary text-center py-5 my-5">
  <div class="container">
    <form class="form-inline d-flex justify-content-center align-items-center">
      <input class="form-control form-control-lg col-7 col-md-9" type="search" placeholder="Find a pet" aria-label="Search">
      <button class="btn btn-primary btn-lg ml-2" type="submit">Search</button>
    </form>
  </div>
</section>