<section class="container my-5">
  <header class="mb-5">
    <h1 class="display-4">About Pawsomes</h1>
    <h2 class="subtitle">The what, the why and how</h2>
  </header>
  <main>
    <p class="lead">
      The study suggests that watching cat videos and looking at animal photos can seriously relieve stress, anxieties and makes you happier. Thanks to all these delightful pet images and videos that cause a huge desire to also own a pet! Unfortunately, not everyone can have a pet due to their unique circumstances. Undoubtedly, raising a pet can also be very costly!
    </p>
    <p>
      Pawsomes, is an online community platform that focuses on two groups of people, pet owners and pet owners-wannabe. Its motto is, "when pet-sharing is pet-caring". Real pet owners can 'share' their journey being a 'pawrent' through pet journaling with photos (like a blog). Other users (the pet owners wannabe) can become 'suppawters' through supporting parenting funds. In short, Pawsomes is when Instagram meets Patreon. At the same time, Pawsomes can also reduce stress from the overwhelming social media content as well as distractions from being consumed with it. 
    </p>
    <p>
      Moreover, this community is also intended for anyone who doesn't own any social media accounts, or who seeks to reduce stress from the overwhelming social media content as well as distractions from being overly consumed with it! 
    </p>
    
    <%= link_to "Become Pawesomes!", new_user_registration_path, class: "btn btn-primary btn-lg my-3 mb-5" %>
  </main>
</section>

