<section class="container my-5">
  <header class="mb-5">
    <h1 class="display-4">About Pawsomes</h1>
    <h2 class="subtitle">The what, the why and the how</h2>
  </header>
  <main>
    <p class="lead">
      The study suggests that viewing cat videos and looking at animal images can significantly reduce stress and anxiety while also making you happier. Thanks to all of these adorable pet images and videos, many have a strong urge to get a pet of their own! Unfortunately, due to their particular circumstances, not everyone can have a pet. Raising a pet may, without a question, be rather costly! 
    </p>
    <p>
      <strong>Pawsomes</strong> is an online community platform that caters to two types of people: pet owners and pet owners-to-be. Its slogan is, <em>"when pet-sharing is pet-caring"</em>. Real pet owners can 'share' their journey being a 'pawrent' through pet journaling with photos (like a blog). Other users (the pet owners wannabe) can become 'suppawters' through supporting parenting funds. In short, Pawsomes is when Instagram meets Patreon. At the same time, Pawsomes can also reduce stress from the overwhelming social media content as well as distractions from being consumed with it. 
    </p>
    <p>
      Moreover, this community is also intended for anyone who doesn't own any social media accounts, or who seeks to reduce stress from the overwhelming social media content as well as distractions from being overly consumed with it! 
    </p>
    <h4 class="mt-5">How to participate</h4>
    <p class="lead text-secondary mb-1">If you are currently own a pet, a.k.a a Pet Paw-rent</p>
    <p>
      When you register, you can add your pets as many as you want on the 'My Pets' page. Each pet will have its profile for its breed, age, and a short bio. You can post each pet's pictorial journal that can only be seen by the people who decide to support your pet. At the moment we only use <em>PayPal.me</em> to integrate funding capability. Follow the instructions on your account page to get one.
      You can also support other pet paw-rents!
    </p>
    <p class="lead text-secondary mb-1">For the rest, a.k.a Pet Sup-paw-ters</p>
    <p>
      Once registered, you can become a co-parent by supporting a pet. By supporting, you can access the pet pictorial journal <em>(coming soon!)</em>, as well as support by PayPal.me funding. To see all the pets you support, go to 'Pawlor' page.
    </p>
    
    <%= link_to "Become Pawesomes!", new_user_registration_path, class: "btn btn-primary btn-lg my-5" %>
  </main>
  <footer>
    <h5 class="mt-4">Disclaimers</h5>
    <p>
      This website is part of the Full Stack Bootcamp - Ruby on Rails Marketplace assignment at <%= link_to "Coder Academy", "https://www.coderacademy.edu.au/", target:"_blank" %>. The pets on this website are based on genuine pet owners from Instagram accounts who I admire and adore. The notion is inspired by my genuine desire to own a cat. However, I am now unable to do so due to current circumstances.
    </p>
    <small>
      All PayPal.me funds are routed to an established Animal Rescue & Hospital in Western Australia for the purpose of demonstration. The original illustration used on the Home page is attributed to <em>Pikisuperstar</em> from <em>Freepik</em>, then re-coloured to suit Pawesomes colour schemes.
    </small>
  </footer>
</section>

