<section class="container my-5">
  <header class="mb-5">
    <h1 class="display-4">Contact</h1>
    <h2 class="subtitle">We love to chat!</h2>
  </header>
  <main class="row align-items-center">
    <p class="lead">Please use the contact form below to contact us!</p>
    <!-- CONTACT FORM -->
    <%= render '/shared/contact_form' %>
  </main>
  </main>
</section>

