<section class="container min-vh-100 my-5">  
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-10 text-center mb-5">
      <header class= "mb-5">
        <p class="lead mb-0">W H E N</p>
        <h1 class="display-4">Pet<em>sharing</em> is Pet<em>caring</em></h1>
        <h2 class="subtitle">It is Pawsomes!</h2>
      </header>
      <div class="col-11 col-md-10 mt-3 mx-auto">
        <p class="lead mb-1">Not everyone has the privilege to raise a pet at home.</p>
        <p>Pawsomes provides an online community where people who currently own a pet (real pet owners) can share their pet <em>paw-renting</em> journey, while the other users (particularly pet owners wannabes) can give their support by becoming <em>sup-paw-ters</em> through interactions and funding.</p>
      </div>
      <%= link_to "Learn more", about_path, class: "btn btn-primary btn-lg my-3 mb-5" %>
    </div>
    
    <div class="row">
      <%= image_tag "pw_illust_01", class: "w-auto mb-5", alt: "Pawesomes Illustration" %>
    </div>
  </div>
</section>

<%= render "/shared/featured" %>
