<section class="container my-5">
  <header class="mb-5">
    <h1 class="display-4">Pawlour</h1>
    <h2 class="subtitle">A.k.a the parlour</h2>
  </header>
  <main>
    <p class="lead">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste non soluta minima dicta animi odio vitae enim ducimus optio aliquid?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos fugiat sit nostrum culpa. Esse, ipsum? Perferendis maxime quod beatae eos.
    </p>

    <%= link_to "Add New Pet", new_pet_path, class: "btn btn-primary my-3 mb-5" %>

  </main>
</section>

