/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "custom";
 @import "bootstrap/scss/bootstrap";

//  Customised:

// Body background
body {
  width: 100vw;
  height: 100vh;
  background-color: $base;
  // background-image: linear-gradient(to top, #e3dccc 0%, #dfe1e0 100%);
  // background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.navbar-bg {
  background-color: $base;
}

.brand-logo {
  width: 60%;
  height: 60%;
}

// For flash-alert
.alert-dismissible {
  padding-left: $close-font-size + $alert-padding-x * 2;
}