/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "custom";
 @import "bootstrap/scss/bootstrap";

//  Customised:

// Body background
// body {
//   width: 100vw;
//   height: 100vh;
//   background-color: $bg-base;
// }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-base;
}

.content-wrapper {
  flex: 1;
}


.navbar-bg {
  background-color: $info;
}

.brand-logo {
  width: 60%;
  height: 60%;
}

// For flash-alert
.alert-dismissible {
  padding-left: $close-font-size + $alert-padding-x * 2;
}

// Typography related styles
.txt-small {
  font-size: .70rem;
  color: $tertiary;
}

.txt-footer {
  font-size: .75rem;
  letter-spacing: .15rem;
}

.subtitle {
  font-family: $font-family-base;
  font-size: 2rem;
  color: $secondary;
}