/*! Custom Font */

// Recursive Font
@import url(https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;700);

// @import url(https://fonts.googleapis.com/css2?family=Recursive:wght@300;600;900);

// Karla
@import url(https://fonts.googleapis.com/css2?family=Karla:wght@400;800);

// Font overides
$font-family-base: Karla;
$headings-font-family: Recursive;

// $enable-grid-classes:false;
$primary:#2e3c3d;
$secondary:#ef8c7d;
$success:#9cd0ca;
$danger:#ed7569;
$info:#b0b5a6;
$warning:#fed67e;
$light:#F2F2F0;
$dark:#2e3c3d;

$bg-base: #E3DCCC;
$tertiary: #7C7543;

p {
  color: $primary;
  // font-size: 1.15rem;  
}

a {
  &:link {
    text-decoration: none;
  }
  &:hover {
    color: $secondary;
  }
}