// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.a-logo {
  
  min-height: 20px;
  max-height: 28px;

}

.home-illust {
  height: 90%;
}